.header {
  text-align: center;
  color: black;
}

body {
  background-image: url("../image/pink.jpg");
  background-repeat: no-repeat;
  background-attached: fixed;
  background-position: 20% 100%;
}

#column1 {
  float: left;
  width: 31%;
  margin : 20px 1.15%;
  height :160px;
  background-color:#FF96B3;
}

#column2 {
  float: left;
  width: 31%;
  margin : 20px 1.15%;
  height :160px;
  background-color:#E888D2;

}

#column3 {
  float: left;
  width: 31%;
  margin : 20px 1.15%;
  height :160px;
  background-color:#F1A2FF;

}

a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 75px;
  margin-left: 30px;
}

img {
  margin: auto;
  position: fixed;
}
}
