@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
}

.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  background-image: url("../image/pink.jpg");
  display: table;
  top: 0;
  background-size: cover;
}

.intro .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.content {
  max-width: 500px;
  margin: 0 auto;
  text-align: justify;
  font-size: 18px;
}

.content h1 {
  font-family: 'Raleway'sans-serif;
  color: #B20921;
  text-shadow: 0px 0px 300px #000;
  font-size: 320%;
  text-align: center;
}

.wrapper {
  text-align: center;
}

.button {
  background-color: #FFD90D;
  border: 3px solid #BD097E;
  border-radius: 9px;
  font-family: 'Oswald'sans-serif;
  color: #9800A6;
  font-size: 125%;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.button:hover {
  color: #7C09BD;
  border: #4709B2 solid 3px;
}

.form {
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
  font-size: 150%;
  color: #B20921;
  padding: 120px;
}

@media screen and (max-width : 768px) {
  .content h1 {
    font-size: 400%;
  }

  .content {
    font-size: 300%
  }

  .button {
    font-size: 250%;
    padding: 7px 15px;
  }

  .form {
    font-size: 300%
  }
}
